registry=https://pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/registry/:username=Applicaid
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/registry/:_password=M2xub2ZjcXpqNHJrNngyYmtxd3pvaHhxaXA2dTdzYnJ4NG5udzM0aG52d3FibWZ4ZXVvcQ==
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/:username=Applicaid
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/:_password=M2xub2ZjcXpqNHJrNngyYmtxd3pvaHhxaXA2dTdzYnJ4NG5udzM0aG52d3FibWZ4ZXVvcQ==
//pkgs.dev.azure.com/Applicaid/_packaging/Applicaid/npm/:email=npm requires email to be set but doesn't use the value
; end auth token